#page-admin {
    h1 {
        margin-left: 20px;
        margin-bottom: 100px;
    }
    #msg-success, #msg-error {
        position: relative;
        top: -150px;
        width: 30%;
        margin: auto;
        text-align: center;
    }
    nav {
        width: 75%;
        margin: auto;
        .tabs{
            a {
                &.active {
                    background-color: rgb(238, 230, 230);
                    border-radius: 10px;
                    padding: 10px 15px;
                    color: black;
                }
            }
        }
        ul {
            display: flex;
            justify-content: space-around;
            li {
                list-style-type: none;
            }
        }
    }

    .button-add-content {
        display: block;
        margin: 50px auto;
    }

    .form-add-content {
        label {
            font-weight: bold;
        }
    }

    table {
        width: 90%;
        margin: auto;
        margin-top: 50px;
        text-align: center;
        margin-bottom: 150px;
        thead {
            text-align: center;
        }
        tbody {
            img {
                width: 60px;
                height: 80px;
            }
        }
        td {
            padding: 3px;
            vertical-align: middle;
            &.synop {
                width: 500px;
            }
        }
        &.admin-users {
            tbody {
                img {
                    width: 50px;
                    height: auto;
                }
            }
        }
    }
}

