#tab-admin {
    width: 95%;
    margin: auto;
    text-align: center;

    thead {
        text-align: center;
    }

    tbody {
        img {
            width: 60px;
            height: 80px;
        }
    }

    td {
        padding: 3px;
    }

}