#page-categories {
    h1 {
        // margin-left: 10px;
        text-align: center;
        margin-bottom: 40px;
    }
    section {
        @include gradeOrange;
        @include boxShadowAround;
        width: 60%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 150px;
        .oneMovie {
            width: 200px;
            height: auto;
            margin: 50px;
            text-align: center;            
            img {
                width: 190px;
                height: 255px;
            }
            a {
                color: rgb(61, 60, 60);
                font-size: 1.1rem;
                font-weight: bold;
            }
        }
    }
}
 