#page-contact {
    width: 70%;
    margin: auto;
    #msg_erreurs {
        font-size: 0.8em;
        color: red;
    }
    #msg_envoi {
        font-size: 0.8em;
        color: green;
    }
    form {
        margin-top: 50px;
        textarea {
            resize: none;
        }
        span {
            font-size: 0.8rem;
            color: red;
        }
        input[type=text], textarea {
            margin-bottom: 15px;
            border-radius: 5px;
            border-color: lightgray;
        }
    }
}

  
    