#page-contact {
    width: 70%;
    margin: auto;
    #msg-erreurs {
        font-size: 0.8em;
        color: red;
    }
    #msg-envoi {
        font-size: 0.8em;
        color: green;
    }
    form {
        @include gradeGray;
        @include boxShadowAround;
        min-width: 425px;
        position: relative;
        margin: 100px auto;
        padding: 50px;
        textarea {
            resize: none;
        }
        span {
            font-size: 0.8rem;
            color: red;
        }
        input[type=text], textarea {
            margin-bottom: 15px;
            border-radius: 5px;
            border-color: lightgray;
        }
        img {
            width: 260px;
            position: absolute;
            top: 10px;
            right: 20px;
        }
    }
}

@media screen and (max-width: $tabletPortrait) {
    #page-contact {
        form {
            textarea {
                width:100%
            }
            img {
                width: 25%;
            }
        }
    }
}

@media screen and (max-width: $phone) {
    #page-contact {
        form {
            textarea {
                width:100%
            }
            img {
                width: 20%;
            }
        }
    }
}

  
    