footer {
    @include gradeDark;
    @include boxShadowAround;
    color: $white;
    width: 100%; // Nécessaire pour les pages où le footer n'est pas positionné tout en bas par manque de contenu
    position: relative;
    margin-top: 50px;
    padding: 20px;
    #links {
       display: inline-block;
       vertical-align: top;
        .div_footer {
            display: inline-block;
            vertical-align: top;
            margin: 0 20px;
            h5 {
                color: $colorTitleF;
            }
            ul {
                list-style: none;
                &#categories-footer {
                    display: flex;
                    div {
                        margin-right: 40px;
                    }
                }
                li {
                    font-size: 0.9rem;
                    padding: 5px 0;
                    a {
                        color: $white;
                        &:hover {
                            text-decoration: none;
                            color: $colorHoverLink;
                        }
                        span {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
    #reseau_social {
        float: right;
        a {
            margin: 0 20px;
        }
        .logo_rs {
            width: 30px;
            height: 30px;
        }
    }
    #copyright {
        font-size: 0.8em;
        text-align: center;
        margin-top: 60px;
        img {
            width: 20px;
            height: 20px;
            vertical-align: text-top;
        }
    }
}

@media screen and (max-width: $tablet) {
    footer {
        #links {
            width: 100%;
            text-align: center; // ici cela fonctionne car en mode inline-block
            .div_footer {
                margin-right: 50px;
                h5 {
                    margin-bottom: 30px;
                }
                ul {
                    padding: 0;
                    div {
                        margin: 0 20px !important;
                    }
                }
            }
        }
        #reseau_social {
            width: 100%;
            text-align: center;
            margin: 50px 0; 
        }    
    }
}

@media screen and (max-width: $phone) {
    footer {
        #links {
            .div_footer {
                h5 {
                    margin-bottom: 10px;
                }
                #categories-footer {
                    margin-bottom: 0;
                }
            }
        }
        #reseau_social {
            margin: 20px 0;
            a {
                margin:0 10px;
            }
        }
    }
}