* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    a {
        color: gray;
        &:hover {       
            text-decoration: none;
            color: $colorHoverLink;       
        }   
    } 
}

.oblique-positive {
   transform-origin: 0 0;
   transform: rotate(2deg);
}

.oblique-negative {
    transform-origin: 0 0;
    transform: rotate(-2deg);
}



@mixin boxShadowBottom{
    box-shadow: 0px 5px 20px 5px black;
}

@mixin boxShadowAround{
    box-shadow: 0px 0px 20px 10px black;
    border: 2px solid black;
    background-color: black;
}

@mixin gradeDark {
    background: rgb(23,23,25);
    background: linear-gradient(90deg, rgba(23,23,25,1) 0%, rgba(66,66,66,1) 52%, rgba(23,23,25,1) 100%);
} 

@mixin gradeOrange {
    background: rgb(230,94,29);
    background: linear-gradient(90deg, rgba(230,94,29,1) 0%, rgba(214,131,92,1) 49%, rgba(241,110,47,1) 100%);
}

@mixin gradeGray {
    background: linear-gradient(90deg, rgb(247, 247, 247) 0%, rgb(249, 249, 250) 49%, rgb(249, 252, 253) 100%);
}


