header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
    @include gradeDark;
    @include boxShadowAround;

    div#logo_header {
        display: flex;

        #logo_image {
            width: 50px;
            height: 50px;
        }

        p {
            position: relative;
            top: 10px;
            left: 5px;
            font-weight: bold;
            color: white;
        }
    }

    #menu {
        width: 40%;
        height: 50px;

        ul {
            list-style: none;
            display: flex;
            justify-content: space-around;
            padding: 10px 0;

            a {
                text-decoration: none;
                color: white;
                font-weight: bold;

                &:hover {
                    color: darkorange;
                }
            }
        }
    }

    #button {
        a {
            color: $white;
            margin-left: 10px;

            &:hover {
                color: $colorHoverLink;
            }
        }
    }

    #menu-burger {
        display: none;
        background-color: transparent;
        width: 55px;
    }
}


@media screen and (max-width: $tablet) {
    header {
        div#logo_header {
            p {
                display: none;
            }
        }

        #menu {
            width: 50%;
        }
    }
}


@media screen and (max-width: $phone) {
    header {
        justify-content: space-between;
        padding: 0 15px;

        #menu {
            @include gradeDark;
            display: none;
            width: 100%;
            height: auto;
            position: absolute;
            right: 0;
            top: 80px;
            left: 0;
            z-index: 10;

            nav {
                ul {
                    display: block;
                    text-align: center;

                    li {
                        margin-bottom: 10px;

                        &.decalage {
                            margin-left: 21px;
                        }

                        a {
                            i {
                                margin-right: 15px;
                            }
                        }
                    }
                }
            }
        }

        #menu-burger {
            display: block;
        }

        #button {
            text-align: center;
        }
    }
}

@media screen and (max-width: $tabletPortrait) {}