#carouselExampleCaptions {
    @include boxShadowAround;
    img {
        width: auto;
        height: auto;
    }
}

#home {
    @include gradeOrange;
    @include boxShadowAround;
    margin-top: 170px;
    padding: 50px 100px;
    section.articles {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        article {
            // border: 1px solid black;
            display: flex;
            margin-bottom: 80px;
            width: 525px;
            position: relative;
            // &:last-child {
            //     margin-right: auto; // Pour caler le dernier film tout à gauche quand affichage impaire et retréci
            // }
            .thumbnail {
                width: 180px;            
                height: 250px;
                img {
                    width: 100%;
                    height: 100%; // définit également la largeur pour ne pas déformer le ratio
                }
            }
            .article-content {
                width: 350px;
                padding: 0 20px;
                h2 {
                    font-size: 1.5em;
                    display: inline-block;
                    width: 80%;
                    color: black;
                }
                button {
                    display: inline-block;
                    width: 18%;
                    vertical-align: top;
                    border: 1px solid black;
                    border-radius: 10px;
                    background-color: transparent;
                }
                p {
                    text-align: justify;
                }
                a {
                    color: antiquewhite;
                }
            }
            .trailer {
                display: none;
                position: absolute;
                width: 100%;
                height: 100%;  
            }
        }
    }
}

@media screen and (max-width: $phone) {
    #home {
        margin-top: 40px;
        section.articles {
            article {
                justify-content: center;
                flex-wrap: wrap;
                .thumbnail {
                    margin-bottom: 30px;
                }
            }
        }
    }    
}

