#msg-success, #msg-error {
    width: 30%;
    margin: auto;
    text-align: center;
}
#page-login {
    .form-signin {
        width: 100%;
        max-width: 400px;
        padding: 15px;
        margin: auto;
        .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
            &:focus {
                z-index: 2;
            }
        }
        input[type="text"] {
            margin-bottom: -1px;
        }
    }
    p {
        font-size: 0.8rem;
        text-align: center;
        a {
            font-weight: bold;
            text-decoration: underline;
        }
    }
    footer {
        position: absolute;
        bottom: 0;
        @media screen and (max-height: 800px) {
            position: relative; // pour que le footer reste en place en bas sinon empiète sur form de connexion
        }
    }
}