#connexion {
    position: absolute;
    right: 20px;
    width: 12%;
}

#admin {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
#admin:hover {
    color: lightgrey;
}

footer {
    margin-top: 300px;
    display: flex;
    justify-content: space-around;
    background-color:#222222;
    opacity: 0.9;
    width: 100%;
    height: auto;
    color: whitesmoke;
    padding: 10px 20px;
    font-family: 'lato';
    font-size: 14px;
}

footer div {
    width: 25%;
    padding: 10px 20px;
}

footer div p {
    text-align: justify;
}
