.content {
    // gradeSkew en premier atténue grandement l'aliasing
    @include gradeOrange;
    @include boxShadowAround;
    display: flex;
    justify-content: space-around;
    margin: 0 100px;
    margin-bottom: 200px;
    padding: 50px;

    div:nth-child(2) {
        padding: 0 50px;

        span {
            font-weight: bold;
        }
    }
}

.thumbnail {
    img {
        width: 300px;
        height: 400px;
    }
}

.bande-annonce {
    @include boxShadowAround;
    width: 700px;
    margin: auto;
    margin-bottom: 200px;

    iframe {
        width: 100%;
    }
}

.bloc-commentaire {
    @include gradeGray;
    @include boxShadowAround;
    margin: 0 100px;
    padding: 50px;

    .one-comment {
        p {
            span {
                font-style: italic;
            }
        }
    }
}