#carouselExampleCaptions {
    @include boxShadowAround;
}

#home {
    margin-top: 170px;
    padding: 50px 100px;
    @include gradeSkew;
    @include boxShadowAround;

    section.articles {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        article {
            display: flex;
            margin-bottom: 50px;
            width: 550px;
            position: relative;
            .thumbnail {
                width: 180px;            
                height: 250px;
                overflow: hidden;
                img {
                    width: auto;
                    height: 100%; // définit également la largeur pour ne pas déformer le ratio
                }
            }
            .article_content {
                width: 350px;
                padding: 0 50px;

                h2 {
                    font-size: 1.5em;
                    display: inline-block;
                    width: 80%;
                }

                button {
                    display: inline-block;
                    width: 18%;
                    vertical-align: top;
                    border: 1px solid black;
                    border-radius: 10px;
                    background-color: transparent;
                }

                p {
                    text-align: justify;
                }
                
                a {
                    color: antiquewhite;
                }
            }

            .trailer {
                display: none;
                position: absolute;
                width: 100%;
                height: 100%;  
            }

        }
    }
}

