$police1: "Montserrat";

$colorFooter: #302f2f;
$colorTitleF: lightgray;
$colorHoverLink: darkorange;
$colorTitle: darkblue;
$colorButton: dodgerblue;
$white: white;


@mixin gradeDark {
    background: rgb(23,23,25);
    background: linear-gradient(90deg, rgba(23,23,25,1) 0%, rgba(66,66,66,1) 52%, rgba(23,23,25,1) 100%);
} 

@mixin gradeSkew {
    background: rgb(230,94,29);
    background: linear-gradient(90deg, rgba(230,94,29,1) 0%, rgba(214,131,92,1) 49%, rgba(241,110,47,1) 100%);
} 

