RewriteEngine On

#Autorise les dossiers et les fichiers du dossier "public" s'ils existent sinon redirection vers index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
